<nav>
  <%= render "layouts/navigation" %>
</nav>

<header>
  <h1>New Craft Beer Review</h1>
</header>

<body>

  <%= render 'form', craft_beer_review: @craft_beer_review %>

</body>

<footer>
  <%= link_to 'Submit a Craft Beer Review', new_craft_beer_craft_beer_review_path %></br>
  <%= link_to 'Back', new_craft_beer_craft_beer_review_path %>
</footer>
