<nav>
  <%= render "layouts/navigation" %>
</nav>

<header>
<h1>New Craft Beer</h1>
</header>

<body>

  <%= render 'form', craft_beer: @craft_beer %>

</body>

<footer>
  <%= link_to 'Back', new_craft_beer_path %>
</footer>
