<h1>Craft Beer Reviews</h1>

<body>
  <% @craft_beers.each do |beer| %>
    <%= beer %>
  <% end %>

<%= link_to 'Submit a Craft Beer and Review', new_craft_beer_path %></br>

<%= link_to 'Sign In', new_user_session_path %>|<%= link_to "Sign Up", new_user_registration_path %>

</body>
